.logo {
    font-size: 1.5em;
    margin-left: 1%;
    margin-right: 1%;    
    float: left;
    color: #734B5E;
}

.user {
    font-size: 3em;
    float: right;
    color: #734B5E;
    padding-right: 1%;
}

.menu {
  overflow: hidden;
  background-color: #333;
}

.menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menu a:hover {
  background-color: #ddd;
  color: black;
}

.menu a.active {
  background-color: #734B5E;
  color: white;
}

.menu .icon {
  display: none;
}

 
  
  /* MOBILE */
  @media screen and (max-width: 600px) {
    .menu a:not(:first-child) {display: none;}
    .menu a.icon {
      float: right;
      display: block;
    }

    .user{
        display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .menu.responsive {position: relative;}
    .menu.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .menu.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }